@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 60% 97%;
    --foreground: 240 10% 3.9%;
    --card: 120 60% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 60% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 25% 65%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 120 73% 75%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 25% 88%;
    --input: 120 25% 88%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 120 73% 75%;
    --chart-3: 120 40% 60%;
    --chart-4: 120 30% 70%;
    --chart-5: 120 50% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 10% 10%;
    --foreground: 120 25% 95%;
    --card: 120 10% 12%;
    --card-foreground: 120 25% 95%;
    --popover: 120 10% 10%;
    --popover-foreground: 120 25% 95%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 210 40% 14.9%;
    --secondary-foreground: 120 25% 95%;
    --muted: 210 40% 14.9%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 25% 25%;
    --input: 120 25% 25%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 120 73% 75%;
    --chart-3: 120 40% 60%;
    --chart-4: 120 30% 70%;
    --chart-5: 120 50% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
